* {
  font-weight:bold;
  text-align:center;
  margin:0;
  box-sizing:border-box;
}

div {
  display: inline-block;
  padding-top:18px;
  margin-right:50px;
  margin-top:30px;
}

/* 初始状态 */
.box0 {
  width:60px;
  height:68px;
  background:#f7f6f6;
  border:3px solid #ebebeb;
}

/* 沿X轴向左倾斜30度 */
.box1 {
  width:60px;
  height:68px;
  background:#f7f6f6;
  border:3px solid #ebebeb;
  transform: skewX(30deg);
  -ms-transform: skewX(30deg);	/* IE 9 */
  -webkit-transform: skewX(30deg);	/* Safari and Chrome */
  -o-transform: skewX(30deg);	/* Opera */
  -moz-transform: skewX(30deg);	/* Firefox */
}

/* 横轴压缩2倍 */
.box2 {
  width:60px;
  height:68px;
  background:#f7f6f6;
  border:3px solid #ebebeb;
  transform: scale(0.5,1);
  -ms-transform: scale(0.5,1);	/* IE 9 */
  -webkit-transform: scale(0.5,1);	/* Safari and Chrome */
  -o-transform: scale(0.5,1);	/* Opera */
  -moz-transform: scale(0.5,1);	/* Firefox */
}

/* 旋转45度 */
.box3 {
  width:60px;
  height:68px;
  background:#f7f6f6;
  border:3px solid #ebebeb;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);	/* IE 9 */
  -webkit-transform: rotate(45deg);	/* Safari and Chrome */
  -o-transform: rotate(45deg);	/* Opera */
  -moz-transform: rotate(45deg);	/* Firefox */
}

/* X轴位移10px，Y轴位移20px */
.box4 {
  width:60px;
  height:68px;
  background:#f7f6f6;
  border:3px solid #ebebeb;
  transform: translate(10px,20px);
  -ms-transform: translate(10px,20px);	/* IE 9 */
  -webkit-transform: translate(10px,20px);	/* Safari and Chrome */
  -o-transform: translate(10px,20px);	/* Opera */
  -moz-transform: translate(10px,20px);	/* Firefox */
}

/* 以上全部属性 */
.box5 {
  width:60px;
  height:68px;
  background:#f7f6f6;
  border:3px solid #ebebeb;
  transform: skewX(30deg) scale(0.5,1) rotate(45deg) translate(10px,20px);
  -ms-transform: skewX(30deg) scale(0.5,1) rotate(45deg) translate(10px,20px);
  -webkit-transform: skewX(30deg) scale(0.5,1) rotate(45deg) translate(10px,20px);
  -o-transform: skewX(30deg) scale(0.5,1) rotate(45deg) translate(10px,20px);
  -moz-transform: skewX(30deg) scale(0.5,1) rotate(45deg) translate(10px,20px);
}
