* {
    text-align:center;
}
button {
  width:100px;
  border: 1px solid #ccc;
  border-radius:6px;
  font-size:18px;
  box-shadow:1px 1px 1px rgba(0,0,0,0.19);
  outline:none;
}
.title {
  color: black;
  transition: color 1s;
}
.title-blue {
  color: steelblue;

}
.bar {
  width:0px;
  height:5px;
  background: steelblue;
  margin: -20px auto;
  margin-bottom:60px;
  transition: width .5s ease-out; 
}
.bar-display {
  width:135px;
}